.hero {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  @include bgimg('../images/bg-mobile.jpg');

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    @include bgimg('../images/bg-mobile@2x.jpg');
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    @include bgimg('../images/bg-mobile@3x.jpg');
  }

  @media screen and (min-width: 481px) {
    @include bgimg('../images/bg-tablet.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      @include bgimg('../images/bg-tablet@2x.jpg');
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      @include bgimg('../images/bg-tablet@3x.jpg');
    }
  }

  @media screen and (min-width: 781px) {
    @include bgimg('../images/bg-desktop.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      @include bgimg('../images/bg-desktop@2x.jpg');
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      @include bgimg('../images/bg-desktop@3x.jpg');
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  word-wrap: break-word;
  color: #ffffff;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: flex;

  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
